<div class="top-bar">
  <figure class="logo">
    <%= link_to image_tag('disenso_logo.png'), root_path %>
  </figure>
  <div class="header__primary-navigation">
    <div class="category-navigation">
    <%= 'Categorías' %>
      <% categories = taxonomies.first %>

      <nav class="categories top-bar-categories">
        <% cache [I18n.locale, categories, taxon] do %>
          <%= render(TaxonsTreeComponent.new(
            root_taxon: categories.root,
            current_taxon: taxon,
            max_level: 1,
            base_class: 'categories')) if categories %>
        <% end %>
      </nav>
    </div>
  </div>
  <div class="top-bar__search">
    <%= render 'shared/search/search_bar', taxons: taxons, taxon: taxon %>
  </div>

  <% if spree_current_user %>
    <%= link_to I18n.t('spree.my_account'), account_path, class: 'auth-link' %>
  <% else %>
    <%= link_to I18n.t('spree.login'), login_path, class: 'auth-link' %>
  <% end %>

  <div class="cart-link" id="link-to-cart">
    <noscript>
      <%= link_to t('spree.cart'), cart_path %>
    </noscript>
  </div>

  <script>
    Solidus.fetch_cart('<%= j cart_link_path %>')
  </script>
</div>
